.elements__place {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 31px;
    padding-left: 21px;
    padding-right: 15px;
    box-sizing: border-box;
    align-items: center;
}