.header__logo {
  width: 142px;
  min-height: 33px;
  background-image: url("../../../images/logo.svg");
  background-size: 100% 100%;
  margin-bottom: 41px;
}

@media screen and (max-width: 767px) {
  .header__logo{
    width: 103px;
    min-height: 24px;
    margin: 28px auto 31px 27px;
  }
}