.profile__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 22px;
}
@media screen and (max-width: 767px) {
    .profile__info {
        margin: 0;
        align-items: center;
    }
}